// NCA primary site colours
$ncaBlack:            #0e1111;
$ncaBlue:             #187eab;
$ncaGreen:            #3b8517;
$ncaOrange:           #ce4102;
$ncaWhite:            #fefefe;
$lightGrey:           #f0f3f5;
$mediumGrey:          #b2b2b6;
$darkGrey:            #414a4c;


$placeholder:         #f0f3f5;
$placeholderActive:   #a2b2b6;
// Radius for corners of elements
$borderRadius:        21px;
// Top nav bar height:
$navbarTopHeight:     80px;