@font-face {
	font-family: "govstrap-icons";
	src: url('../fonts/govstrap-icons.eot');
	src: url('../fonts/govstrap-icons.eot?#iefix') format('eot'),
		url('../fonts/govstrap-icons.woff') format('woff'),
		url('../fonts/govstrap-icons.ttf') format('truetype'),
		url('../fonts/govstrap-icons.svg#govstrap-icons') format('svg');
}

@mixin icon-styles {
	font-family: "govstrap-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

[class^="icon-"]:before, [class*=" icon-"]:before {

	font-family: "govstrap-icons";
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

}

.icon-phone:before {
	content: "\e90c";
}
.icon-mail:before {
	content: "\f003";
}
.icon-menu:before {
	content: "\e901";
}
.icon-cancel:before {
	content: "\e904";
}
.icon-rarrow:before {
	content: "\ea3c";
}
.icon-larrow:before {
	content: "\ea40";
}
.icon-money:before {
    content: "\e909";
}
.icon-parking:before {
    content: "\e90a";
}
.icon-angle-up:before {
	content: "\f03d";
}
.icon-angle-right:before {
	content: "\f005";
}
.icon-map-search:before {
	content: "\e908";
}
.icon-docs:before {
	content: "\e905";
}
.icon-folder:before {
	content: "\e906";
}
.icon-twitter:before {
	content: "\f014";
}
.icon-clipboard:before {
	content: "\e903";
}
.icon-roadblock:before {
	content: "\e90b";
}
.icon-yacht:before {
	content: "\e90e";
}