html {
  body {
    main {
      .highlighted {
        padding: 0;
      }
      background: $lightGrey;
      #page-content {
        background: $ncaWhite;
        padding: 15px;
      }
    }
  }
}