html {
  body {
    background: $lightGrey;
    // Generic font size
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    // Headings
    h1, h2, h3 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
    }
    h1 {
      font-size: 48px;
    }
    // Links
    a {
      color: darken($ncaBlue, 5%);
    }
    a:not([href*='nca.gov.au']):not([href*='.local']):not([href*='govcms.gov.au']):not([href^='#']):not([href^='/']):after {
      font-family: "govstrap-icons";
      content: "\f001";
      margin-left: 5px;
      font-size: 12px;
    }
    // Iframes
    iframe {
      max-width: 100%;
      overflow: hidden;
    }
    // Item list
    .item-list {
      ul {
        list-style: none;
        li {
          margin: 0 15px;
          &:before {
            font-family: "govstrap-icons";
            content: "\f005";
            color: $mediumGrey;
            position: absolute;
            margin-left: -15px;
          }
        }
      }
    }
    .page-header {
      border-bottom: none;
    }
    main {
      .highlighted.hl-negative-bottom-margin {
        margin-bottom: -60px;
        h1 {
          top: 120px;
        }
      }
      .highlighted {
        background: $ncaWhite;
        padding: 0;
        .section_banner {
          overflow: hidden;
        }
        // We want to display the title (H1) at the middle of the banner image
        h1 {
          position: absolute;
          padding-left: 99px;
          color: $ncaWhite;
          text-shadow: 2px 2px 4px $ncaBlack;
          max-width: 752px;
          top: 140px;
        }
        // We want to display the breadcrumbs at the bottom of the section banner image
        .block-crumbs {
          position: relative;
          bottom: 60px;
          width: 100%;
          .breadcrumb {
            font-family: "Roboto Condensed", Arial, sans-serif;
            font-weight: 300;
            background: rgba( $ncaBlack, .8 );
            margin: 0;
            padding: 1em calc(10% - 15px);
            font-size: 1.25em;
            border-radius: 0;
            a {
              color: lighten($ncaGreen, 20%);
              text-decoration: none;
            }
          }
        }
        @media screen and (max-width: $screen-sm-max) {
          h1 {
            padding-left: 15px;
            font-size: 36px;
          }
          .breadcrumb {
            padding: 1em 15px !important;
          }
        }
      }
      #content {
        background: $ncaWhite;
        margin: 0;
        padding: 30px calc(10% - 30px);
        #page-content {
          img {
            max-width: 100%;
          }
          .field-name-field-feature-image {
            img {
              margin-bottom: 15px;
              border-bottom: 5px solid $ncaBlue;
            }
          }
          .field-name-body {
            ul {
              // Override those inline styles
              margin-left: 0 !important;
              & > li {
                list-style-type: square;
              }
            }
          }
        }
        // Event venue
        .ds-event-venue {
          .col-left.col-md-6, .col-right.col-md-6 {
            padding: 0;
            .field-name-field-feature-image {
              img {
                height: 330px;
                width: 309px;
                @media screen and (max-width: $screen-sm-max) {
                  width: 100%;
                }
              }
            }
            iframe {
              height: 330px;
              width: 309px;
              margin-bottom: 15px;
              border-bottom: 5px solid #187eab;
            }
          }
        }
      }
    }
  }
}