html {
  body.html {
    #skip-link a, #skip-link a:visited {
      display: block;
      width: 100%;
      padding: 2px 0 3px;
      text-align: center;
      background-color: $darkGrey;
      color: $lightGrey;
      border-bottom: 1px solid $lightGrey;
      text-decoration: underline;
    }
    #header {
      .navbar {
        background: $ncaBlack;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
        .container {
          .navbar-header {
            position: relative;
            width: 100%;
            #crest {
              display: block;
              overflow: hidden;
              height: $navbarTopHeight;
              line-height: $navbarTopHeight;
              // Crest image size
              img {
                width: 220px;
                height: 53px;
              }
            }
          }
          #topbar-menu, #topbar-contact {
            overflow: hidden;
            height: $navbarTopHeight;
            line-height: $navbarTopHeight;
            text-align: center;
            a {
              color: $ncaWhite;
              font-family: "Roboto Condensed", Arial, sans-serif;
              font-weight: 700;
              font-size: 18px;
              &:hover, &:focus {
                text-decoration: none;
              }
            }
          }
          #topbar-menu {
            background: $ncaBlue;
            &:hover {
              background: darken($ncaBlue, 5%);
            }
            #nav-toggle {
              margin-top: 29px;
              display: inline-block;
              i {
                display: block;
                width: 24px;
                height: 3px;
                background: $ncaWhite;
                margin-top: 3px;
              }
            }
          }
          #topbar-contact {
            background: $ncaGreen;
            &:hover {
              background: darken($ncaGreen, 5%);
            }
          }
          #topbar-search {
            @media (min-width: $screen-md-min) {
              height: $navbarTopHeight;
              color: $ncaWhite;
            }
            form#search-block-form {
              .form-item {
                input.form-text {
                  background: $ncaOrange;
                  padding: 0 10px;
                  width: 212px;
                  border-right: none;
                  border-radius: $borderRadius 0 0 $borderRadius;
                  font-weight: normal !important;
                  border-right: 0 !important;
                  &:focus {
                    background: #fff !important;
                    color: $darkGrey !important;
                  }
                  @media screen and (max-width: 992px) {
                    width: 220px;
                  }
                }
              }
              input.form-submit {
                background: $ncaOrange;
                font-family: "govstrap-icons", sans-serif;
                transition: all 0.2s;
                width: 42px;
                border-radius: 0 $borderRadius $borderRadius 0;
                padding-left: 0;
                text-indent: 11px;
                letter-spacing: 2em;
                font-size: 20px;
                color: $lightGrey;
                overflow: hidden;
                //@include nca-icons;
                &:hover,
                &:active,
                &:focus {
                  background: darken($ncaOrange, 5%);
                }

              }
              .form-item input.form-text, input.form-submit {
                display: block;
                position: relative;
                float: left;
                border: 2px solid #eee;
                height: 42px;
                margin-top: 18px;
              }
              input.form-submit#edit-submit {
                border-left: none;
              }
              ::-webkit-input-placeholder {
                color: $placeholder;
                opacity: 1;
              }
              input:active::-webkit-input-placeholder,
              input:focus::-webkit-input-placeholder {
                color: $placeholderActive;
                opacity: 1;
              }
              :-moz-placeholder {
                // Firefox 18-
                color: $placeholder;
                opacity: 1;
              }
              ::-moz-placeholder {
                // Firefox 19+
                color: $placeholder;
                opacity: 1;
              }
              input:active:-moz-placeholder,
              input:focus:-moz-placeholder {
                color: $placeholderActive;
                opacity: 1;
              }
              input:active::-moz-placeholder,
              input:focus::-moz-placeholder {
                color: $placeholderActive;
                opacity: 1;
              }
              :-ms-input-placeholder {
                color: $placeholder;
                opacity: 1;
              }
              input:active:-ms-input-placeholder,
              input:focus:-ms-input-placeholder {
                color: $placeholderActive;
                opacity: 1;
              }
            }
            // End search form
          }
        }
      }
    }
  }
}