html {
  body.html {

    #header {

      .container {
        position: relative;
        height: 100%;
        #crest {
          position: absolute;
          left: 15px;
          @media screen and (max-width: 768px) {
            left: 0;
          }
          top: 0;
          bottom: 0;
          display: block;
          text-indent: -9999px;
          overflow: hidden;
          background-image: url("../img/nca-logo.png");
          background-position: center center;
          background-repeat: no-repeat;
          width: 203px;
          background-size: 100% auto;
          @media screen and (max-width: 992px) {
            width: 180px;
          }
        }
      }
    }
  }
}