html {
  body.front {
    // Parking info
    #parking-info {
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-weight: 300;
      font-size: 1.25em;
      background: darken($ncaBlue, 20%);
      border-top: 1px solid $ncaWhite;
      color: $ncaWhite;
      padding: 0 10%;
      height: 60px;
      line-height: 60px;
      strong {
        font-weight: 300;
        font-size: 22px;
      }
    }
    // Carousel
    #homepage-carousel {
      .carousel-inner {
        h3 {
          @media screen and (min-width: $screen-sm-min) {
            font-size: 42px;
            position: absolute;
            top: 50%;
            margin-top: -42px;
            color: $ncaWhite;
            text-shadow: 2px 2px 4px $ncaBlack;
            padding-left: 10%;
            font-weight: 300;
            max-width: 66%;
          }
        }
        p {
          font-family: "Roboto Condensed", Arial, sans-serif;
          font-weight: 300;
          position: absolute;
          bottom: 0;
          width: 100%;
          background: rgba( $ncaBlack, .8 );
          margin: 0;
          padding: 1em 10%;
          font-size: 1.25em;
          a {
            color: lighten($ncaGreen, 20%);
            text-decoration: none;
            &:after {
              font-family: "govstrap-icons";
              content: "\ea3c";
              padding-left: 0.5em;
            }
          }
        }
      }
      .carousel-controls {
        position: absolute;
        bottom: 10px;
        width: 100%;
        right: 10%;
        left: auto;
        .carousel-indicators {
          @media screen and (min-width: $screen-sm-min) {
            position: relative;
            bottom: 0;
            text-align: right;
            width: 100%;
            right: 0;
            left: auto;
            float: right;
          }
        }
      }
      .carousel-control {
        width: 5%;
      }
      .carousel-control .icon-rarrow {
        left: 50%;
        margin-left: -20px;
      }
      .carousel-control .icon-larrow {
        right: 50%;
        margin-right: -20px;
      }
      .carousel-control .icon-larrow,
      .carousel-control .icon-rarrow {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        z-index: 3;
        display: inline-block;
      }
    }
  }
}