html {
  body.front {
    // Some exceptions...
    .highlighted {
      margin-bottom: 0;
      h1 {
        top: 180px;
      }
    }
    #content {
      padding: 0;
    }
    // Parking info
    #parking-info {
      margin: 0;
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-weight: 300;
      font-size: 20px;
      background: $lightGrey;
      color: $ncaWhite;
      padding: 0 calc(10% - 30px);
      min-height: 60px;
      line-height: 60px;
      a {
        color: $ncaOrange;
      }
      strong {
        color: $ncaBlack;
        font-weight: 300;
        font-size: 22px;
      }
      @media screen and (max-width: $screen-sm-max) {
        text-align: center;
        line-height: 30px;
        padding: 0;
        strong {
          display: block;
          padding: 15px 0;
          font-size: 24px;
        }
        .link {
          display: block;
          i {
            display: block;
            font-size: 22px;
          }
          white-space: nowrap;
          text-align: center;
          padding: 10px 0;
          &:first-of-type {
            border-top: 1px solid $mediumGrey;
          }
        }
      }
      .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
      }
      @media screen and (max-width: $screen-sm-max) {
        border-bottom: 1px solid $mediumGrey;
      }
    }
    .panel-nca-front {
      @media screen and (max-width: $screen-sm-max) {
        padding-top: 15px;
      }
      .row {
        margin-bottom: 15px;
      }
    }
    .top15 {
      margin-top: 15px;
    }
    // Homepage panel: Tweeter link
    .twitter-link {
      padding-left: 10px;
      a {
        color: $ncaGreen;
      }
    }
    // Homepage panel: news and updates
    .homepage-panel-row-2-col {
      padding: 30px calc(10% - 30px);
    }
    .row-header {
      text-align: center;
      h2 {
        font-size: 30px !important;
      }
    }
    .pane-media-releases, .pane-new-road-and-lake-closures {
      margin-bottom: 30px;
      .pane-title {
        margin-top: 0;
      }
      .node-media-release, .node-closure {
        margin-bottom: 1em;
        .group-left {
          width: 12%;
          .field-type-datetime {
            padding: 9px;
            @media screen and (max-width: $screen-sm-max) {
              padding: 7px;
            }
            border-radius: 28px;
            text-align: center;
            color: $ncaWhite;
            line-height: 16px;
          }
        }
        .group-right {
          width: 88%;
          .field-name-title {
            padding-left: 15px;
            padding-top: 7px;
            .field-item {
              padding-bottom: 10px;
              border-bottom: 1px solid $lightGrey;
              p {
                margin: 0;
              }
            }
          }
        }
        @media screen and (max-width: $screen-sm-max) {
          .group-left {
            width: 15%;
          }
          .group-right {
            width: 85%;
          }
        }
      }
      .node-media-release {
        .field-type-datetime {
          border: 2px solid $ncaBlue;
          background: $ncaBlue;
        }
      } .node-closure {
        .field-type-datetime {
          border: 2px solid $ncaOrange;
          background: $ncaOrange;
        }
      }
    }
    // Homepage panel: wide image
    .wide-image {
      .pane-title {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 32px;
        position: absolute;
        max-width: 90%;
        @media screen and (max-width: $screen-xs-max) {
          padding-left: calc(10% - 10px);
          font-size: 26px;
        }
        @media screen and (min-width: $screen-sm-min) {
          top: calc(50% - 140px);
        }
        @media screen and (min-width: $screen-md-min) {
          top: calc(50% - 33px);
          margin-top: -21px;
          max-width: 66%;
          font-size: 42px;
        }
        color: $ncaWhite;
        text-shadow: 2px 2px 4px $ncaBlack;
        padding-left: calc(10% - 20px);
      }
      .bean-image-and-text {
        @media screen and (min-width: $screen-md-min) {
          .field-name-field-bean-text {
            padding: 0 calc(10% - 30px);
          }
          .field-type-image {
            margin-left: -15px;
            margin-right: -15px;
          }
        }
        .field-type-image {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      // Tri-colour link cluster
      .field-name-field-bean-text {
        .tri-colour-links {
          li {
            @media screen and (min-width: $screen-md-min) {
              width: 33.3333%;
            }
          }
        }
        .bi-colour-links {
          li {
            @media screen and (min-width: $screen-md-min) {
              width: 50%;
            }
          }
        }
        .tri-colour-links, .bi-colour-links {
          list-style: none;
          padding: 0;
          margin-top: 5px;
          @media screen and (min-width: $screen-md-min) {
            margin-top: -37px;
            margin-bottom: -22px;
          }
          li {
            @media screen and (max-width: $screen-sm-max) {
              width: 100%;
            }
            display: inline-block;
            position: relative;
            height: 74px;
            &.nca-blue {
              background: $ncaBlue;
              &:hover {
                text-decoration: none;
                background: darken($ncaBlue, 5%);
              }
            }
            &.nca-green {
              background: $ncaGreen;
              &:hover {
                text-decoration: none;
                background: darken($ncaGreen, 5%);
              }
            }
            &.nca-orange {
              background: $ncaOrange;
              &:hover {
                text-decoration: none;
                background: darken($ncaOrange, 5%);
              }
            }
            a {
              color: $ncaWhite;
              display: block;
              position: absolute;
              top: calc(50% - 16px);
              text-align: center;
              width: 100%;
              height: 100%;
              @media screen and (max-width: $screen-sm-max) {
                text-align: left;
                padding-left: 15px;
              }
              &:hover {
                text-decoration: none;
              }
            }
            [class^="icon-"]:before, [class*=" icon-"] {
              font-size: 22px;
              margin-left: 0;
              top: 2px;
              position: relative;
            }
          }
        }
      }
    }
    // Homepage panel: three columns
    .homepage-panel-row-3-col {
      @media screen and (min-width: $screen-md-min) {
        padding: 30px calc(10% - 30px);
      }
      @media screen and (max-width: $screen-sm-max) {
        .col-xs-12 {
          margin-bottom: 15px;
        }
      }
      .panel-col-header {
        img {
          width: 100%;
          height: auto;
        }
      }
      .col-md-4 {
        @media screen and (min-width: $screen-md-min) {
          padding-left: 15px;
          padding-right: 15px;
        }
        .bean-image-and-text .field-name-field-bean-image {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      h2 {
        font-weight: 400;
        font-size: 26px;
      }
    }
    // Carousel
    #homepage-carousel {
      .carousel-inner {
        h3 {
          position: absolute;
          top: 50%;
          color: $ncaWhite;
          text-shadow: 2px 2px 2px $ncaBlack;
          font-size: 32px;
          margin-top: -32px;
          padding-left: calc(10% - 15px);
          max-width: 80%;
          @media screen and (min-width: $screen-md-min) {
            font-size: 42px;
            margin-top: -42px;
            color: $ncaWhite;
            text-shadow: 2px 2px 4px $ncaBlack;
            max-width: 66%;
          }
        }
        p {
          font-family: "Roboto Condensed", Arial, sans-serif;
          font-weight: 300;
          position: absolute;
          bottom: 0;
          width: 100%;
          background: rgba( $ncaBlack, .8 );
          margin: 0;
          padding: 1em calc(10% - 15px);
          font-size: 1.25em;
          a {
            color: lighten($ncaGreen, 20%);
            text-decoration: none;
            &:after {
              font-family: "govstrap-icons";
              content: "\ea3c";
              padding-left: 0.5em;
            }
          }
        }
        @media screen and (max-width: $screen-sm-min) {
          img {
            position: relative;
            left: -33%;
          }
        }
      }
      .carousel-indicator-wrapper {
        position: absolute;
        bottom: 10px;
        width: 100%;
        right: 10%;
        left: auto;
        .carousel-indicators {
          @media screen and (min-width: $screen-md-min) {
            position: relative;
            bottom: 0;
            text-align: right;
            width: 100%;
            right: 0;
            left: auto;
            float: right;
          }
        }
        @media screen and (max-width: $screen-sm-max) {
          display: none;
        }
      }
      .carousel-control {
        background: none;
        cursor: pointer;
        width: 5%;
        @media screen and (max-width: $screen-sm-max) {
          width: 0%;
          margin-left: -9999px;
          margin-right: 9999px;
        }
      }
      .carousel-control .icon-rarrow {
        left: 50%;
        margin-left: -20px;
      }
      .carousel-control .icon-larrow {
        right: 50%;
        margin-right: -20px;
      }
      .carousel-control .icon-larrow,
      .carousel-control .icon-rarrow {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        z-index: 3;
        display: inline-block;
      }
    }
  }
}