/*
 * Main navigation menu styles
 */
nav#navigation {
  display: none; // Initial state: hidden
  background: rgba($ncaBlack, .99);
  border-top: 1px solid $darkGrey;
  padding: 20px 0;
  @media (max-width: $screen-sm-max) {
    padding: 0;
  }
  @media (min-width: $screen-md-min) {
    padding: 50px 0;
  }
  position: absolute;
  width: 100%;
  z-index: 999;
  height: 1500px; // Fix height for now
  .region-navigation {
    #block-menu-block-2 {
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-weight: 300;
      position: relative;
      margin-bottom: -10000px;
      padding-bottom: 10000px;
      @media (min-width: $screen-md-min) {
        width: 32%;
        display: table;
      }

      & > .content > .menu-block-wrapper > .menu {
        display: table;
        width: 100%;
        padding-left: 0;
        // Commons
        li {
          list-style: none !important;
          margin: 0;
          a {
            @media (min-width: $screen-md-min) {
              display: block;
            }
            width: 100%;
            &:hover, active, visited {
              text-decoration: none;
            }
          }
          &:hover {
            background: $mediumGrey;
            & > a {
              color: $ncaBlack;
            }
          }
          &.expanded {
            .icon-rarrow {
              float: right;
              font-size: 1.2em;
              color: $ncaWhite;
              border-left: 1px solid $darkGrey;
              margin: -12px 0;
              padding: 12px 0px 12px 12px;
              @media (min-width: $screen-md-min) {
                display: none;
              }
            }
          }
        }
        // Top level
        & > li {
          padding: 12px 16px;
          @media (min-width: $screen-md-min) {
            &.expanded > a:after {
              font-family: "govstrap-icons";
              content: '\ea3c';
              float: right;
              font-size: 16px;
            }
          }
          & > a {
            text-transform: uppercase;
            font-size: 1.2em;
            color: $mediumGrey;
          }
        }
        // 2nd level
        & > li > ul {
          @media (min-width: $screen-md-min) {
            border-left: 1px solid $darkGrey;
          }
          & > li {
            padding: 12px 16px;
            & > a {
              font-size: 1.2em;
              color: $mediumGrey;
            }
            @media (min-width: $screen-md-min) {
              &.expanded > a:after {
                font-family: "govstrap-icons";
                content: '\ea3c';
                float: right;
                font-size: 16px;
              }
            }
          }
        }
        // 3rd level
        & > li > ul > li > ul {
          @media (min-width: $screen-md-min) {
            border-left: 1px solid $darkGrey;
          }
          & > li {
            padding: 12px 16px;
            & > a {
              color: $mediumGrey;
              font-size: 1.2em;
            }
          }
        }
        // 2nd+ level
        & > li ul {
          display: none;
          width: 100% !important;
          padding: 0;
          position: absolute;
          left: 100%;
          top: 0;
          @media (max-width: $screen-sm-max) {
            z-index: 11;
            background: lighten($ncaBlack, 5%);
            top: 0;
            left: 0;
            height: 100%;
          }
          li {
            margin-left: 0;
          }
        }
        // Active links
        a.active-trail, a.active {
          color: lighten($ncaOrange, 20%);
        }
        & > li.active-trail > ul,
        & > li.active > ul,
        & > li.active-trail > ul > li.active-trail > ul,
        & > li.active > ul > li.active > ul {
          display: block;
        }
        // Mobile menu back a level link
        .mobile-menu-level-up {
          color: $ncaWhite;
          font-size: 16px;
          border-bottom: 2px solid $mediumGrey;
        }
        // Navigation item border on mobile
        @media (max-width: $screen-sm-max) {
          & li {
            border-bottom: 1px solid $darkGrey;
          }
        }
      }
    }
  }
}

// Sidebar menus
// current page's parent - we only want to display the one in the active trail
.menu-block-active-parent > ul.menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  & > li {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      color: $ncaWhite;
      background: $ncaBlue;
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-size: 1.2em;
      display: block;
      padding: 15px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background: darken($ncaBlue, 10%);
      }
    }
  }
}
.region-sidebar-second {
  .block-menu-block {
    ul.menu {
      list-style: none;
      padding-left: 0;
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
          color: $ncaWhite;
          border-bottom: 1px solid $ncaWhite;
          font-size: 1.2em;
          display: block;
          font-family: "Roboto Condensed", Arial, sans-serif;
          &:hover, &:active {
            text-decoration: none;
            background: lighten($ncaBlue, 10%);
            color: $ncaBlack;
          }
        }
      }
    }
  }
  #block-menu-block-1 {
    .menu-block-wrapper > ul.menu > li {
      background: lighten($ncaBlue, 30%);
      & > a {
        padding: 15px;
        color: $ncaBlack;
      }
    }
    .menu-block-wrapper > ul > li.active-trail {
      a {
        background: lighten($ncaBlue, 50%);
        &:hover, &:active {
          background: lighten($ncaBlue, 10%);
        }
      }
      & > ul {
        background: lighten($ncaBlue, 50%);
        & > li {
          & > a {
            padding: 15px;
            padding-left: 30px;
            color: $ncaBlack;
            font-size: 1.1em;
          }
        }
      }
    }
    .menu-block-wrapper > ul > li:not(.active-trail) > ul {
      display: none;
    }
  }
}
